// div.float-start h5{
//     text-align: center;
// }

#bihlogo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

// div.sidenav-header a{
//     text-align: center;
// }

// .navbar-vertical.navbar-expand-xs .navbar-collapse {
//     display: block;
//     overflow: auto;
//     height: calc(100vh - 225px);
// }

// div.card img{
//     width: 70%;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }

#talentfactory{
    text-align: center;
    color: #284ac7;
    padding-top: 10px;
}
